# {{ ansible_managed }}

# alice
group vomss://voms-alice-auth.cern.ch:443/voms/alice?/alice/Role=lcgadmin alis

# ops
group vomss://voms-ops-auth.cern.ch:443/voms/ops?/ops/Role=lcgadmin opss

gmf_local /etc/grid-mapfile-local
gmf_local /etc/lcmaps/gridmapfile
