"/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=grigoras/CN=650724/CN=Costin Grigoras" alicesgm
"/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=lbetev/CN=374855/CN=Latchezar Betev" alicesgm
"/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=maarten/CN=410032/CN=Maarten Litmaath" alicesgm
"/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=mstoretv/CN=767601/CN=Maksim Melnik Storetvedt" alicesgm
